
        <!--state overview start-->
        <div class="row state-overview">
            
            <!-- Total Admins  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol terques">
                        <i class="icon-user"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numAdmins;?>
                        </h1>
                        <p><strong>Admins</strong></p>
                    </div>
                </section>
            </div>

            <!-- Total Instructors  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol orange">
                        <i class="icon-user"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numInstructors;?>
                        </h1>
                        <p><strong>Instructors</strong></p>
                    </div>
                </section>
            </div>

            <!-- Total Students  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol pink">
                        <i class="icon-user"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numStudents;?>
                        </h1>
                        <p><strong>Students</strong></p>
                    </div>
                </section>
            </div>

            <!-- Total Categories  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol red">
                        <i class="icon-tags"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numCat;?>
                        </h1>
                        <p>Categories</p>
                    </div>
                </section>
            </div>

            <!-- Total Courses  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="icon-book"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numCourses;?>
                        </h1>
                        <p>Courses</p>
                    </div>
                </section>
            </div>

            <!-- Total Lessons  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol blue">
                        <i class="icon-expand"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numLessons;?>
                        </h1>
                        <p>Lessons</p>
                    </div>
                </section>
            </div>
        </div>
        <!--state overview end-->
