
        <!--state overview start-->
        <div class="row state-overview">

            <!-- Total Courses  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol yellow">
                        <i class="icon-book"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numCourses;?>
                        </h1>
                        <p>Courses</p>
                    </div>
                </section>
            </div>

            <!-- Total Lessons  -->
            <div class="col-lg-4 col-sm-6">
                <section class="panel">
                    <div class="symbol blue">
                        <i class="icon-expand"></i>
                    </div>
                    <div class="value">
                        <h1>
                            <?php echo $numLessons;?>
                        </h1>
                        <p>Lessons</p>
                    </div>
                </section>
            </div>
        </div>
        <!--state overview end-->
